# MassAlarme – Alarm Schedule
# Copy to ~/.config/massalarme/alarms.yaml
#
# Supported sections:
#   monday: ... sunday:   – weekly recurring alarms
#   next:                 – one-shot alarm at next occurrence of HH:MM
#   date:                 – alarm on a specific date (dd-mm-YYYY)

monday:
  - name: "Wake up"
    time: "07:30"

tuesday:
  - name: "Wake up"
    time: "07:30"

wednesday:
  - name: "Wake up"
    time: "07:30"

thursday:
  - name: "Wake up"
    time: "07:30"

friday:
  - name: "Wake up"
    time: "07:30"

saturday:
  - name: "Wake up"
    time: "08:00"

sunday:
  - name: "Wake up"
    time: "08:00"
